.barContainer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 2;
}

/* bottom menu bar */
.bottomBar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  margin: 0;
  box-shadow: 2px 2px 5px 1px rgba(5, 5, 5, 0.5);
}


.whitespace {
  width: 100%;
  background: transparent;
}


.cards {
  display: grid;
  padding: 1rem;
  row-gap: 1rem;
}

.cardsContainer {
  height: 515px;
  overflow-y: scroll;
}

.cardBorder {
  padding: 0.25rem 0;
  border-radius: var(--border-radius-px);
  background: inherit;
  box-shadow: 0 1px 8px -3px rgba(5, 5, 5, 1);
  backdrop-filter: brightness(95%);
  -webkit-backdrop-filter: brightness(95%);
  transition: transform 0.25s;
}

.cardBorder:hover {
  transform: translateY(-2px);
  box-shadow: 0 1px 8px -3px rgba(5, 5, 5, 1);
  backdrop-filter: brightness(90%);
  -webkit-backdrop-filter: brightness(90%);
}

.main {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}
