.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

/* card icon section */
.cardIconSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardIconSection>p {
  font-size: 2.5rem;
  margin: 0;
}

/* card timer section */
.cardTimerSection {
  flex: 0.5;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card info section */
.cardInfoSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.cardInfoSection>h4,
.cardInfoSection>p {
  margin: 0;
}
