.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  flex: 2;
}

.inputCodePoint>button {
  height: 20px;
  width: 20px;
  padding: 0;
}

.buttonConfirm {
  flex: 0.5;
}

/* card icon section */
.cardIconSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardIconSection>p {
  font-size: 4rem;
  margin: 0;
}
